@import 'normalize.css';
@import './clear.scss';

body {
  background-color: #ffdf8c;
  font-family: 'Nunito', sans-serif;
  padding: 45px;
}

.wrapper {
  background: #ffffff;
  box-shadow: 0px 15px 20px rgba(0, 0, 0, 0.03);
  border-radius: 10px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  &__logo {
    display: flex;
    align-items: center;
    margin: 40px 70px;
    &-descriprion {
      margin-left: 7px;
    }
    &-title {
      font-style: normal;
      font-weight: 900;
      font-size: 25px;
      line-height: 29px;
      letter-spacing: 0.01em;
      text-transform: uppercase;
    }
    &-desc {
      color: #7b7b7b;
    }
    &-image {
      margin: 10px 10px 10px 0;
    }
  }
}
